# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
base_pyEnsSumMPAS.sh
cesm_2-3_1000_pyEnsSum_der.sh
cesm_2-3_1000_pyEnsSum.sh
cesm_2750_pyEnsSum_1deg_part2.sh
cesm_2750_pyEnsSum_1deg_part3.sh
cesm_2750_pyEnsSum_1deg_part4.sh
cesm_2750_pyEnsSum_1deg_part5.sh
cesm_2750_pyEnsSum_1deg_part6.sh
cesm_2750_pyEnsSum_1deg_ppn_test.sh
cesm_2750_pyEnsSum_1deg.sh
cesm_2750_pyEnsSum_2deg_part0.sh
cesm_2750_pyEnsSum_2deg_part1.sh
cesm_2750_pyEnsSum_2deg_part2.sh
cesm_2750_pyEnsSum_2deg_part3.sh
cesm_2750_pyEnsSum_2deg_part4.sh
cesm_2750_pyEnsSum_2deg_part5.sh
cesm_2750_pyEnsSum_2deg_part6.sh
cesm_2750_pyEnsSum_part2.sh
cesm_2750_pyEnsSum_part3.sh
cesm_2750_pyEnsSum_part4.sh
cesm_2750_pyEnsSum.sh
der_test_pyEnsSumMPAS_2.sh
der_test_pyEnsSumMPAS_7+8.sh
jain_cesm_sum.nc
jain_excluded_varlist.json
jain_pyEnsSum.sh
jain_uf_cam_ect.sh
mpas_430_pyEnsSumMPAS.sh
mpas_example_bug_sum.nc
mpas_paper_rec_pyEnsSumMPAS_chey.sh
mpas_paper_rec_pyEnsSumMPAS.sh
MPAS_paper_rec_sumfil_chey.nc
MPAS_paper_rec_sumfile_chey_e200_t12.nc
MPAS_paper_rec_sumfile_chey.nc
mpas_sum_1200_slice_1.nc
mpas_sum_t18_base_no_pv.nc
mpas_sum_t18_base.nc
mpas.ens.summary.nc
NEW.empty_excluded.json
pull_history_files.sh
sumfile=cesm23_1000_sum
sumfile=cesm23_1000_sum_onDer
test_pyEnsSumMPAS.sh
xnutr_uf_MPAS_ect.sh
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_0
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_1
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_2
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_3
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_4
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_5
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_6
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_7
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_8
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_9
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_10
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_11
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_12
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_13
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_14
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_15
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_16
CESM_2_3_2750_1deg_sums/cesm23_2750_1deg_sum_17
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_0
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_1
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_2
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_3
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_4
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_5
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_6
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_7
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_8
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_9
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_10
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_11
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_12
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_13
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_14
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_15
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_16
CESM_2_3_2750_2deg_sums/cesm23_2750_2deg_sum_17
CESM_2_3_2750_sums/cesm23_2750_sum_0
CESM_2_3_2750_sums/cesm23_2750_sum_1
CESM_2_3_2750_sums/cesm23_2750_sum_2
CESM_2_3_2750_sums/cesm23_2750_sum_3
CESM_2_3_2750_sums/cesm23_2750_sum_4
CESM_2_3_2750_sums/cesm23_2750_sum_5
CESM_2_3_2750_sums/cesm23_2750_sum_6
CESM_2_3_2750_sums/cesm23_2750_sum_7
CESM_2_3_2750_sums/cesm23_2750_sum_8
CESM_2_3_2750_sums/cesm23_2750_sum_9
CESM_2_3_2750_sums/cesm23_2750_sum_10
CESM_2_3_2750_sums/cesm23_2750_sum_11
CESM_2_3_2750_sums/cesm23_2750_sum_12
CESM_2_3_2750_sums/cesm23_2750_sum_13
CESM_2_3_2750_sums/cesm23_2750_sum_14
CESM_2_3_2750_sums/cesm23_2750_sum_15
CESM_2_3_2750_sums/cesm23_2750_sum_16
CESM_2_3_2750_sums/cesm23_2750_sum_17
CESM_2_3_2750_sums/cesm23_2750_sum_18
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_0
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_1
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_2
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_3
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_4
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_5
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_6
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_7
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_8
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_9
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_10
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_11
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_12
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_13
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_14
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_15
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_16
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_17
CESM_2_3_sum_files/sumfile=cesm23_2000_sum_18
data/MPAS_scenario_data/UFECT_MPAS_dirs/test_output_dir/example_bug/fail.txt
data/MPAS_scenario_data/UFECT_MPAS_dirs/test_output_dir/example_bug_fixed/fail.txt
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x0.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x1.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x2.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x3.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x4.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x5.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x6.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x7.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x8.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x9.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x10.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x11.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x12.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x13.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x14.nc
MPAS_no_pv_430_sums/mpas_sum_430_slice_3x15.nc
MPAS_sum_files/mpas_sum_1200_slice_3x0.nc
MPAS_sum_files/mpas_sum_1200_slice_3x1.nc
MPAS_sum_files/mpas_sum_1200_slice_3x2.nc
MPAS_sum_files/mpas_sum_1200_slice_3x3.nc
MPAS_sum_files/mpas_sum_1200_slice_3x4.nc
MPAS_sum_files/mpas_sum_1200_slice_3x5.nc
MPAS_sum_files/mpas_sum_1200_slice_3x6.nc
MPAS_sum_files/mpas_sum_1200_slice_3x7.nc
MPAS_sum_files/mpas_sum_1200_slice_3x8.nc
MPAS_sum_files/mpas_sum_1200_slice_3x9.nc
MPAS_sum_files/mpas_sum_1200_slice_3x10.nc
MPAS_sum_files/mpas_sum_1200_slice_3x11.nc
MPAS_sum_files/mpas_sum_1200_slice_3x12.nc
MPAS_sum_files/mpas_sum_1200_slice_3x13.nc
MPAS_sum_files/mpas_sum_1200_slice_3x14.nc
MPAS_sum_files/mpas_sum_1200_slice_3x15.nc
MPAS_true_failure_testing/ect_postrun_1.e4358134
MPAS_true_failure_testing/ect_postrun_1.o4358134
MPAS_true_failure_testing/ect_postrun_2.e4358135
MPAS_true_failure_testing/ect_postrun_2.o4358135
MPAS_true_failure_testing/ect_postrun_3.e4358138
MPAS_true_failure_testing/ect_postrun_3.o4358138
MPAS_true_failure_testing/ect_postrun_xnutr.e4357946
MPAS_true_failure_testing/ect_postrun_xnutr.e4357960
MPAS_true_failure_testing/ect_postrun_xnutr.e4357970
MPAS_true_failure_testing/ect_postrun_xnutr.o4357946
MPAS_true_failure_testing/ect_postrun_xnutr.o4357960
MPAS_true_failure_testing/ect_postrun_xnutr.o4357970
MPAS_true_failure_testing/example_bug_test.out
MPAS_true_failure_testing/test_params_copy.json
